/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


@font-face {
    font-family: 'socicon';
    src: url('socicon/font/socicon-webfont.eot');
    src: url('socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('socicon/font/socicon-webfont.woff') format('woff'),
         url('socicon/font/socicon-webfont.ttf') format('truetype'),
         url('socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}


.socicon {
    font-family: 'socicon' !important;
}


html,
body {
  background-color: #ffffff;
  height: 100%;
  font-size: 100%;
  width: 100%;
}


body{
margin:0;
padding:0;
color: #000;
background: url(background.jpg) center top repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position: relative;
font-family: 'Montserrat', sans-serif;
display: block;
text-align: center;
}

.header, .content{
	width: 100%;
	float: left;
	text-align: center;
}

.logo{
	margin: 60px 0;
	background: rgba(255,255,255,0.7);
	padding: 40px ;
	display: inline-block;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

h1{
	font-size: 40px;
	letter-spacing: -2px;
	font-weight: 700;
	color: #555;
}

h2{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #555;
}

h3{
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #555;
}

h4{
	font-size: 25px;
	letter-spacing: -1px;
	font-weight: 700;
	color: #555;
}


.content p{
	font-size: 25px;
	line-height: 30px;
	color: #666;
}



#counter {
    margin-top: 60px;
    width: 30%;
    padding: 0 35%;
    float: left;
}

.countdown_section {
    color: #000;
    display: inline-block;
    text-align: center;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);    
}

.countdown_section:first-child {
    border-left: 0;
}

.countdown_amount {
    color: #000;
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 0.75em;
}




.social{
	width: 30%;
	float: left;
	padding: 0 35%;
}

.social ul{
	width: 100%;
	float: left;
	border-top: 1px solid #fff;
}


.social ul li{
	display: inline-block;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 56px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 56px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */


}

.social ul li a{
  border-radius: 56px; 
    border: 2px solid rgba(34,74,89,0);
    width: 56px;
    height: 56px;
    margin: 50px 15px;
    display: block;
	color: #000;
	font-size: 40px;
	line-height: 56px;
	text-decoration: none;
}

.social ul li a:hover{
    border: 2px solid #000;
    background: #000;
 	color: #fff;
}






@media only screen and (max-width: 1024px){


.logo{
	margin: 40px 0;
	background: rgba(255,255,255,0.7);
	padding: 40px ;
	display: inline-block;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
}



#counter {
    margin-top: 60px;
    width: 60%;
    padding: 0 20%;
    float: left;
}



.social{
	width: 60%;
	float: left;
	padding: 0 20%;
}



}


@media only screen and (max-width: 768px){


.logo{
	margin: 0 0 40px 0 ;
	width: 100%;
	background: rgba(255,255,255,0.7);
	padding: 40px 0 ;
	display: inline-block;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

h1{
	font-size: 40px;
	letter-spacing: -4px;
	font-weight: 700;
}

h2{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #555;
}


.content{
	width: 80%;
	padding: 0 10%;
}

.content p{
	font-size: 20px;
	line-height: 30px;
	color: #666;
}



#counter {
    margin-top: 60px;
    width: 90%;
    padding: 0 5%;
    float: left;
}

.countdown_section {
    color: #000;
    display: inline-block;
    text-align: center;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);    
}

.countdown_section:first-child {
    border-left: 0;
}

.countdown_amount {
    color: #000;
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 0.75em;
}


.social{
	width: 90%;
	float: left;
	padding: 0 5%;
}

.social ul li{
	display: inline-block;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 46px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 46px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */


}

.social ul li a{
  border-radius: 46px; 
    border: 2px solid rgba(34,74,89,0);
    width: 46px;
    height: 46px;
    margin: 50px 15px;
    display: block;
	color: #000;
	font-size: 30px;
	line-height: 46px;
	text-decoration: none;
}

.social ul li a:hover{
    border: 2px solid #000;
    background: #000;
 	color: #fff;
}


}
